body {
  font-family: 'Open Sans', sans-serif;
  color: #303030;
  letter-spacing: 0.02em;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  border: none;
  background-color: transparent;
}

address {
  font-style: normal;
}

.subtitle--transparent::before, .subtitle--dark::before, .social-list__link--decorative-line::before {
  position: relative;
  bottom: 3px;
  content: '';
  display: inline-block;
  margin-right: 20px;
  width: 60px;
  height: 1px;
}

.social-list__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 448px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}

.section__title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16em;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.section__title--light {
  color: #ffffff;
}

.logo {
  display: inline-block;
  color: inherit;
}

@media screen and (max-width: 480px) {
  .logo {
    color: #ffffff;
  }
}

.logo__icon {
  fill: currentColor;
}

.button {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33em;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover, .button:focus {
  background-color: #ff6c00;
  color: #ffffff;
}

.button--light {
  color: #ffffff;
}

.header {
  padding-top: 40px;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 32px;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .navigation__item {
    margin-bottom: 24px;
  }
  .navigation__item:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__item:not(:last-child) {
    margin-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item {
    margin-bottom: 24px;
  }
  .contacts__item:last-child {
    margin-bottom: 0px;
  }
}

.contacts__link.button {
  padding-right: 57px;
  padding-left: 57px;
}

.subtitle {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subtitle--transparent {
  color: rgba(157, 164, 189, 0.6);
}

.subtitle--transparent::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.subtitle--dark {
  color: #303030;
}

.subtitle--dark::before {
  background-color: #303030;
}

@media screen and (max-width: 767px) {
  .menu-backdrop {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 28, 38, 0.2);
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    -webkit-transition: opacity 250ms linear 250ms;
    transition: opacity 250ms linear 250ms;
    pointer-events: none;
  }
}

.menu-backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 337px;
    padding-top: 48px;
    padding-left: 40px;
    padding-right: 31px;
    padding-bottom: 48px;
    overflow-y: scroll;
    background-color: #ffffff;
    -webkit-box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
            box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 300ms linear 250ms;
    transition: -webkit-transform 300ms linear 250ms;
    transition: transform 300ms linear 250ms;
    transition: transform 300ms linear 250ms, -webkit-transform 300ms linear 250ms;
  }
}

.menu-backdrop.is-open .menu-container {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .menu-container {
    min-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-close {
  display: block;
  margin-left: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .menu-close {
    display: none;
  }
}

.social-list__item {
  display: none;
}

@media screen and (max-width: 767px) {
  .social-list__item:not(:last-child) {
    margin-bottom: 24px;
  }
}

.social-list__link--decorative-line::before {
  background-color: #303030;
}

.social-list__link--padding-left {
  padding-left: 80px;
}

.hero {
  background-color: #303030;
  max-width: 1125px;
  height: 580px;
  background-image: url();
}

.section__title--small {
  display: block;
  font-size: 28px;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .img-box {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .img-box {
    margin-right: 30px;
    width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  .img-box {
    margin-right: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 570px;
  }
}

.img-desktop {
  margin-right: 30px;
}

.img-desktop:last-of-type {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .img-desktop {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .img-desktop {
    display: block;
    max-width: 270px;
  }
}

.img-tablet {
  margin-bottom: 30px;
}

.img-tablet:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .img-tablet {
    display: block;
    max-width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  .img-tablet {
    display: none;
  }
}

.about-text {
  font-size: 14px;
  line-height: 1.86em;
  color: #555555;
  margin-bottom: 40px;
}

.about-text--big {
  font-size: 16px;
  margin-bottom: 20px;
}

.price-section {
  background-color: #111319;
  background-image: url(../image/price-bg.png);
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .price-section {
    background-image: url(../image/price-bg@2x.png);
  }
}

.price-title {
  margin-bottom: 44px;
}

.price-box {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

@media screen and (min-width: 768px) {
  .price-box {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .price-box {
    background-image: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .price-list {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    padding-left: 40px;
    -ms-flex-preferred-size: calc(100% / 2);
        flex-basis: calc(100% / 2);
  }
  .price-list:nth-of-type(1) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .price-list:nth-of-type(2) {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.price-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 2.14em;
  color: #9da4bd;
}

.price-list__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .price-list:nth-of-type(1) .price-list__item:last-child {
    margin-bottom: 0;
  }
}

.price-list__item.price-list__item--margin {
  margin-bottom: 20px;
}

.button-box {
  text-align: center;
}

.advantages-text {
  font-size: 18px;
  line-height: 1.66em;
  color: #555555;
  margin-bottom: 44px;
}

.advantages-list {
  margin: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages-list__item {
  -ms-flex-preferred-size: calc((100% - 15px * 4) / 2);
      flex-basis: calc((100% - 15px * 4) / 2);
  height: auto;
  margin: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36em;
  background-color: #f7f7f7;
}

.advantages-list__number-box {
  margin-bottom: 20px;
}

.advantages-list__number-box span {
  display: inline-block;
  height: 100%;
}

.advantages-list__number {
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.05em;
}
/*# sourceMappingURL=main.css.map */