/* Шрифт */
/* OpenSans 600 normal bold 
Raleway bold */

/* 
#FFFFFF ссылки на темном фоне, заголовки на темном фоне
#FF6C00 акцент
#303030 ссылки на светлом фоне, сабтайтлы на светлом фоне, заголовки на светлом фоне - основной цвет текста на сайте
rgba(157, 164, 189, 0.6) сабтайтл на слайдере + полу прозрачный текст, сабтайтлы на темном фоне
#9DA4BD текст на слайдере, текст на темном фоне
#555555 основной текст на светлом фоне



*/
:root {
  --accent-color: #ff6c00;
  --primary-text-color: #303030;
  --secondary-text-color: #555555;
  --lighten-text-color: #ffffff;
  --darken-text-color: #9da4bd;
  --transparent-text-color: rgba(157, 164, 189, 0.6);
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33em;
  letter-spacing: 0.1em;
}

.address {
  font-style: normal;
}

.lighten {
  color: var(--lighten-text-color);
}

.header-box {
  display: flex;
  flex-direction: row-reverse;
}

/* Header */
.header {
  display: flex;

  background-color: var(--darken-text-color);
}
.site-nav .list {
  display: flex;
}
.site-nav-link {
  letter-spacing: 0.1em;
  color: var(--lighten-text-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.contacts-list {
  display: flex;
}

.contacts-link {
  text-transform: uppercase;
  color: var(--lighten-text-color);
}

/* aside */
.social-link {
  font-size: 11px;
  line-height: 1.36em;
}

.aside-section {
  display: flex;
}

.aside-section .list {
  display: flex;
  align-self: flex-end;
}

.aside-section .social-link:hover,
.aside-section .social-link:focus {
  color: var(--accent-color);
}

.buttom-link {
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
}
