.section__title--small {
  display: block;
  font-size: 28px;
}

.about-container {
  display: flex;
}

.img-box {
  //   Mobile
  @media screen and (max-width: 767px) {
    display: none;
  }

  //   Tablet
  @media screen and (min-width: 768px) {
    margin-right: 30px;
    width: 330px;
  }
  //   Desktop
  @media screen and (min-width: 1200px) {
    margin-right: 64px;
    display: flex;
    width: 570px;
  }
}

.img-desktop {
  margin-right: 30px;

  &:last-of-type {
    margin-right: 0;
  }

  //   Tablet
  @media screen and (min-width: 768px) {
    display: none;
  }
  //   Desktop
  @media screen and (min-width: 1200px) {
    display: block;
    max-width: 270px;
  }
}

.img-tablet {
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }

  //   Tablet
  @media screen and (min-width: 768px) {
    display: block;
    max-width: 330px;
  }
  //   Desktop
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.about-text {
  font-size: 14px;
  line-height: 1.86em;
  color: $secondary-text-color;
  margin-bottom: 40px;
}

.about-text--big {
  font-size: 16px;
  margin-bottom: 20px;
}
