.button {
  padding-top: 12px;
  padding-bottom: 12px;
  display: inline-block;
  border: 1px solid $accent-color;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33em;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
