.button {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 37px;
  padding-right: 37px;
  display: inline-block;
  border: 1px solid $accent-color;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33em;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;

  //   Tablet
  @media screen and (min-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $lighten-text-color;
  }
}

.button--light {
  color: $lighten-text-color;
}

.button--change-header {
  //   Tablet
  @media screen and (min-width: 768px) {
    color: $lighten-text-color;
  }
}
