.footer__wrapper {
  //   Desktop
  @media screen and (min-width: 1200px) {
    width: 100%;
    min-height: 640px;
    height: auto;
    display: flex;
  }
}

.contacts-section,
.form-section {
  //   Desktop
  @media screen and (min-width: 1200px) {
    width: 50%;
  }
}

.form-section {
  //   Desktop
  @media screen and (min-width: 1200px) {
    padding-left: 55px;
    padding-right: 40px;
  }
}

.contacts-section {
  //   Desktop
  @media screen and (min-width: 1200px) {
    padding-left: 100px;
    padding-right: 255px;
  }
}
