.header {
  position: relative;
  z-index: 2;
  padding-top: 40px;
  background-color: transparent;
}

.header__container {
  display: flex;
  align-items: center;

  // Mobile
  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }

  //   Tablet
  @media screen and (min-width: 768px) {
    align-items: flex-start;
  }
}

.nav-block {
  // Mobile
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
  }
  //   Tablet
  @media screen and (min-width: 768px) {
    margin-left: 54px;
  }

  //   Tablet
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    position: relative;
    top: -20px;
  }

  //   Desktop
  @media screen and (min-width: 1200px) {
    margin-left: 72px;
  }
}

.navigation {
  //   Tablet
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.navigation__item {
  // Mobile
  @media screen and (max-width: 767px) {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  //   Tablet
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  //   Desktop
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.navigation__link {
  //   Tablet
  @media screen and (min-width: 768px) {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.navigation__link,
.contacts__link {
  &:hover,
  &:focus {
    color: $accent-color;
  }

  //   Tablet
  @media screen and (min-width: 768px) {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33em;
    letter-spacing: 0.1em;
    color: $lighten-text-color;
  }
}

.contacts {
  // Mobile
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
  }
  //   Tablet
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 47px;
    flex-direction: column-reverse;
    align-items: center;
  }
  //   Desktop
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    margin-left: 300px;
  }
}
.contacts__item {
  // Mobile
  @media screen and (max-width: 767px) {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
  //   Tablet
  @media screen and (min-width: 768px) {
    &:last-child {
      margin-bottom: 20px;
    }
  }

  //   Desktop
  @media screen and (min-width: 1200px) {
    &:last-child {
      margin-bottom: 0;
    }
    &:first-child {
      margin-right: 40px;
    }
  }
}

.contacts__link.button {
  padding-right: 57px;
  padding-left: 57px;
}
