.pagination-button-box,
.pagination {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.pagination-button-box {
  margin-top: auto;
  padding-bottom: 40px;
  padding-right: 55px;
  align-self: flex-end;
}

.pagination-button {
  //   Tablet
  @media screen and (min-width: 768px) {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36em;
    letter-spacing: 0.1em;
    color: $transparent-text-color;
    margin-right: 26px;

    &::after {
      content: '';
      display: block;
      width: 60px;
      height: 1px;
      background-color: $transparent-text-color;
      margin-top: 8px;
    }

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
      margin-right: 0;
    }

    &:hover,
    &:focus {
      color: $lighten-text-color;
      outline: none;
    }
    &:hover::after,
    &:focus::after {
      background-color: $lighten-text-color;
    }
  }
}
