%subtitle__before {
  position: relative;
  bottom: 3px;
  content: '';
  display: inline-block;
  margin-right: 20px;
  width: 60px;
  height: 1px;
}

%social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36em;
}
